.patent-info{
    margin-left: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    /* text-align: center; */
    width: 1000px;
    margin-right: auto;
    padding: 20px;
}

.ant-popover {
    width: 50%;
}
