<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fyypumpkin.manage.lab.dao.UserDao">

    <resultMap id="BaseResultMap" type="cn.fyypumpkin.manage.lab.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="sex" property="sex"/>
        <result column="real_name" property="realName"/>
        <result column="college" property="college"/>
        <result column="phone" property="phone"/>
        <result column="locked" property="locked"/>
        <result column="role" property="role"/>
        <result column="pass_wd" property="passWd"/>
    </resultMap>

    <sql id="table">
        user
    </sql>

    <sql id="insertCol">
        (username,sex,real_name,college,phone,locked,role,pass_wd)
    </sql>


    <sql id="allCols">
        id, username,sex,real_name,college,phone,locked,role,pass_wd
    </sql>


    <!--返回插入记录id-->
    <!--useGeneratedKeys="true" keyProperty="id"-->

    <insert id="insertUser" parameterType="cn.fyypumpkin.manage.lab.entity.User">
        INSERT INTO
        <include refid="table"/>
        <include refid="insertCol"/>
        VALUES (
        #{username},
        #{sex},
        #{realName},
        #{college},
        #{phone},
        #{locked},
        #{role},
        #{passWd}
        )

    </insert>

    <select id="getUserByUsername" resultMap="BaseResultMap">
        SELECT
        <include refid="allCols"/>
        from
        <include refid="table"/>
        WHERE 1=1 AND username=#{username}
    </select>

    <update id="changePassWd">
        UPDATE
        <include refid="table"/>
        set pass_wd=#{passWd}
        where username=#{username}
    </update>

    <select id="getUserList" resultMap="BaseResultMap">
        select
        <include refid="allCols"/>
        from
        <include refid="table"/>
        where 1=1
        <if test="realName != null">
            and real_name LIKE CONCAT(CONCAT('%', #{realName}), '%')
        </if>
        order by id DESC limit #{offset},#{pageSize}
    </select>

    <select id="userListCount" resultType="int">
        select count(*) from
        <include refid="table"/>
        where 1=1
        <if test="realName != null">
            and real_name=#{realName}
        </if>
    </select>

    <update id="modifyUser">
        UPDATE
        <include refid="table"/>
        set real_name=#{user.realName},college=#{user.college},sex=#{user.sex},phone=#{user.phone}
        where username=#{user.username}
    </update>


</mapper>